{% extends '../base.html' %}

{% block title %}All movies{% endblock %}

{% block content %}
    <div class="top-ten">
        <div class="container">
            <h2 class="mt-5 mb-5">All movies</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h3 class = 'nigger'>Search</h3>
                            <form class="mb-4" action="{% url 'allMovies' %}">
                                <div class="row">
                                    <div class="col-9">
                                        <input type="search" name="search" class="form-control" placeholder="Film name, description">
                                    </div>
                                    <div class="col-3">
                                        <button type="submit" class="btn btn-dark">&#128269;</button>
                                    </div>
                                </div>
                            </form>
                            <h3 class = 'nigger'>Genres</h3>
                            <ul>
                                <li><a href="{% url 'allMovies' %}" class="text-dark">All</a></li>
                                {% for genre in genres %}
                                <li><a href="{% url 'filterMovies' slug=genre.slug %}" class="text-dark">{{ genre.genreName }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    {% for movie in movies %}
                    <div class="card mb-3" >
                      <div class="row g-0">
                        <div class="col-md-4">
                          <img src="{{ movie.poster }}" class="img-fluid rounded-start" style = 'width:100%;height:100%' alt="...">
                        </div>
                        <div class="col-md-8">
                          <div class="card-body">
                            <h5 class="card-title nigger">{{ movie.movieName }}</h5>
                            <p class="card-text nigger">{{ movie.desc }}...</p>
                            <a href="{% url 'movieDetail' pk=movie.pk %}" class="btn btn-dark">Watch</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}