{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static './css/style.css' %}">
    <link rel="stylesheet" href="{% static './css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static './css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static './css/owl.carousel.min.css' %}">
</head>

<body style="color: #ffffff;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6))">
    <header class="navbar navbar-expand-lg bg-dark navbar-dark">
        <div class="container">
          <a class="navbar-brand" href="{% url 'homePage' %}">QFlex</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'topMovies' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'allMovies' %}">Movies</a>
              </li>
                {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'logoutUser' %}">{{ user.username }} : Logout</a>
              </li>
                {% else %}
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'signUp' %}">Sign Up</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'loginPage' %}">Login</a>
              </li>
                {% endif %}
            </ul>
          </div>
        </div>
    </header>

    {% block content %}
    {% endblock %}


    <script src="{% static './js/jquery.min.js' %}"></script>
    <script src="{% static './js/owl.carousel.min.js' %}"></script>
    <script src="{% static './js/carousel.js' %}"></script>
    <script src="{% static './js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>